*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//variables
$black: #000000;


//mixin 
@mixin uppercase-text {
    text: {
        transform: uppercase;
    }
}

@mixin capitalized-text {
    text: {
        transform: capitalize;
    }
}

//header
header {
    background: #E2DADA;
    height: 685px;

    //navbar
    .navbar {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        justify-content: center;
        padding: 40px 2px;
        width: 95%;
        margin: 0 auto;

        .logo {
            font: {
                size: 30px;
                family: Inter;
                style: normal;
                weight: bold;
            }

            line-height: 24px;
            color: $black;
            @include uppercase-text;
        }

        .menu-btn {
            a {
                text-decoration: none;
                @include uppercase-text;

                font: {
                    family: Inter;
                    style: normal;
                    weight: normal;
                    size: 20px;
                }

                line-height: 24px;
                color: #3A3A3A;
                padding: 5px 30px;
            }
        }

        .icons {
            a {
                text-decoration: none;
                cursor: pointer;
                img {
                    width: 25px;
                    height: 25px;
                    margin-right: 40px;
                }
            }
        }

    }

    //section containing text and image
    section {
        display: grid;
        grid-template-columns: 60% 40%;

        .text-content {
            display: grid;
            justify-content: center;
            margin: 60px 0px 0px 180px;

            >h3 {
                font: {
                    family: Montserrat;
                    style: normal;
                    weight: 300;
                    size: 40px;
                }

                line-height: 49px;
                color: $black;
                @include capitalized-text;
            }

            >h1 {
                font: {
                    family: Montserrat;
                    style: normal;
                    weight: bold;
                    size: 80px;
                }

                line-height: 98px;
                color: $black;
                @include uppercase-text;
            }

            >p {
                font: {
                    family: Montserrat;
                    style: normal;
                    weight: 300;
                    size: 20px;
                }

                width: 600px;
                line-height: 37px;
                color: $black;
            }

            .btn {
                margin-top: 35px;
                padding: 16px 42px;
                background: #FF5E5E;
                width: 180px;
                text-decoration: none;
                @include uppercase-text();

                >p {
                    font: {
                        family: Montserrat;
                        style: normal;
                        weight: 300;
                        size: 16px;
                    }

                    text-align: center;
                    line-height: 24px;
                    color: #FFFFFF;
                }
            }
        }

        .img-content {
            img {
                position: absolute;
                width: 520px;
                height: 645px;
                top: 40px;
            }
        }
    }
}

//main content
main {
    background-color: #FFFFFF;
    width: 90%;
    margin: 0px auto;

    .tips {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto;
        gap: 2px 100px;

        .tip-content {
            margin-top: 100px;
            text-align: center;

            >img {
                width: 60px;
                height: 60px;
            }

            >h3 {
                font: {
                    family: Droid Sans;
                    style: normal;
                    weight: bold;
                    size: 25px;
                }

                margin: 10px 0;
                line-height: 29px;
                color: #3A3A3A;
                @include uppercase-text();
            }

            p {
                font: {
                    family: Droid Sans;
                    style: normal;
                    weight: normal;
                    size: 15px;
                }

                line-height: 22px;
                color: #000000;
            }
        }

    }

    .best-sellers {
        width: 100%;
        margin: 120px auto 0;

        .text-wrapper {
            text-align: center;

            >h3 {
                font: {
                    family: Droid Sans;
                    style: normal;
                    weight: bold;
                    size: 40px;
                }

                line-height: 47px;
                color: $black;
                @include uppercase-text();
            }

            >p {
                font: {
                    family: Droid Sans;
                    style: normal;
                    weight: normal;
                    size: 15px;
                }

                line-height: 22px;
                color: $black;
            }
        }

        .products {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 2px 10px;
            justify-content: center;

            .product-content {

                .box {
                    width: 300px;
                    height: 379px;
                    background: #E7E7E7;
                    display: grid;
                    justify-content: center;
                    align-content: center;

                    >img {
                        width: 200px;
                        height: 220px;
                    }
                }

                .text-center {
                    text-align: center;

                    >p:first-child {
                        font: {
                            family: Droid Sans;
                            style: normal;
                            weight: normal;
                            size: 20px;
                        }

                        line-height: 37px;
                        color: #3A3A3A;
                        @include capitalized-text();
                    }

                    >p:not(:first-child) {
                        font: {
                            family: Droid Sans;
                            style: normal;
                            weight: bold;
                            size: 20px;
                        }

                        line-height: 37px;
                        color: $black;
                        margin-bottom: 30px;

                        span:first-child {
                            text-decoration: line-through;
                            color: #B9B9B9;
                            margin-right: 10px;
                        }

                        span:not(:first-child) {
                            color: #FF5E5E;
                        }
                    }

                    a {
                        background: #FFFFFF;
                        text-decoration: none;

                        font: {
                            family: Droid Sans;
                            style: normal;
                            weight: normal;
                            size: 20px;
                        }

                        border: 1px solid #FF5E5E;
                        line-height: 23px;
                        color: #FF5E5E;
                        padding: 8px 35px;
                        @include capitalized-text();

                        &.active {
                            background-color: #FF5E5E;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }

    .product-display {
        margin-top: 120px;
        margin-bottom: 120px;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 10px 25px;

        .box-img-1 {
            display: grid;
            grid-template-rows: 2fr 1fr;
            gap: 25px 0;

            .first-box {
                width: 410px;
                background: #E7E7E7;
                position: relative;

                p {
                    position: absolute;
                    left: 20px;
                    top: 80px;

                    font: {
                        family: Droid Sans;
                        style: normal;
                        weight: normal;
                        size: 25px;
                    }

                    line-height: 29px;
                    color: #000000;
                    @include capitalized-text();
                }

                img {
                    width: 280px;
                    height: 415px;
                    position: absolute;
                    top: 0;
                    left: 130px;
                }
            }

            .second-box {
                width: 410px;
                background: #E7E7E7;
                position: relative;

                div {
                    position: absolute;
                    top: 130px;
                    left: 20px;



                }

                img {
                    width: 224px;
                    height: 145px;
                    position: absolute;
                    top: 0;
                    left: 160px;
                }
            }
        }

        .third-box {
            width: 410px;
            height: 650px;
            background: #E7E7E7;
            position: relative;

            div {
                z-index: 2;
                position: absolute;
                top: 320px;
                left: 60px;
                text-align: center;

                p {
                    font-family: Droid Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 40px;
                    line-height: 47px;
                    color: #000000;
                    @include uppercase-text();
                    margin-bottom: 35px;
                }

                a {
                    text-decoration: none;
                    font-family: Droid Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 23px;
                    background: #FF5E5E;
                    padding: 10px 30px;
                    @include uppercase-text();
                }
            }

            img {
                width: 321px;
                height: 584px;
                position: absolute;
                top: 65px;
            }
        }

        .box-img-2 {
            display: grid;
            grid-template-rows: 1fr 2fr;
            gap: 25px 0;

            .first-box {
                width: 410px;
                background: #E7E7E7;
                position: relative;

                div {
                    position: absolute;
                    top: 35px;
                    left: 20px;
                }

                img {
                    position: absolute;
                    top: 30px;
                    left: 220px;
                    width: 169px;
                    height: 163px;
                }
            }

            .second-box {
                width: 410px;
                background: #E7E7E7;
                position: relative;

                div {
                    position: absolute;
                    top: 320px;
                    left: 300px;
                }

                img {
                    position: absolute;
                    width: 369px;
                    height: 415px;
                    top: 0;
                }
            }
        }
    }
}

/* section containing information about giveaway */
section.giveaway-container {
    background-color: #E2DADA;
    height: 480px;

    .giveaway-content {
        width: 95%;
        margin: 100px auto 0;
        display: grid;
        grid-template-columns: 30% 70%;
        justify-content: center;
        position: relative;

        div:first-child {
            img {
                position: absolute;
                width: 445px;
                height: 480px;
            }
        }

        div:not(:first-child) {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 125px;
            left: 600px;

            h1 {
                font-family: Droid Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 80px;
                line-height: 94px;
                color: #000000;
                text-align: right;
                @include uppercase-text();
            }

            p {
                font-family: Droid Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 37px;
                text-align: right;
                color: #3A3A3A;
                margin: 30px 0 35px 0;
            }

            a {
                text-decoration: none;
                @include uppercase-text;
                text-align: right;

                span {
                    font: {
                        family: Inter;
                        style: normal;
                        weight: normal;
                        size: 20px;
                    }

                    line-height: 24px;
                    color: #ffffff;
                    padding: 15px 35px;
                    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
                    background-color: #FF5E5E;
                }

            }
        }
    }
}

/* section for testimony and email sign up */
section.testimony-and-subscribe {
    margin-top: 120px;

    >h2 {
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        color: $black;
        @include uppercase-text();
    }

    .testimony {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0 30px;
        justify-content: center;
        margin-top: 25px;

        .testimony-box {
            width: 410px;
            height: 350px;
            background: #FFFFFF;
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 20px;

            >img {
                width: 80px;
                height: 80px;
            }

            .text-3 {
                margin-top: 10px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: $black;
                @include uppercase-text();
            }

            .text-4 {
                margin-top: 10px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 19px;
                text-align: center;
                color: rgba(58, 58, 58, 0.5);

                span {
                    font-size: 30px;
                    color: $black;
                }
            }
        }
    }

    .subscribe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 100px;
        justify-content: center;
        width: 85%;
        margin: 120px auto 0;

        .subscribe-content {
            >h2 {
                font-family: Droid Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                line-height: 47px;
                color: $black;
                @include uppercase-text();
            }

            >p {
                font-family: Droid Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 37px;
                color: $black;
            }
        }

        .subscribe-content {
            form {
                input[type=email] {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    background-color: #FFFFFF;
                    background-image: url("../images/left-arrow.png");
                    background-repeat: no-repeat;
                    background-position: 97% 10px;
                    border: 1px solid rgba(255, 94, 94, 0.5);
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 24px;
                    color: #000000;
                    @include capitalized-text();
                }
            }
        }
    }
}

footer {
    background-color: #E7E7E7;

    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        gap: 0 120px;
        width: 85%;
        margin: 150px auto 0 auto;

        .footer-content {
            margin-top: 120px;
            margin-bottom: 50px;

            >h3 {
                font-family: Droid Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 37px;
                color: $black;
                @include uppercase-text();
            }

            >a {
                font-family: Droid Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 37px;
                color: #000000;
                text-decoration: none;
                @include capitalized-text();
            }

            a>img {
                width: 30px;
                height: 30px;
                margin-right: 30px;
            }
        }
    }
}



/* key text*/
.text-1 {
    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: $black;
    @include capitalized-text();
}

.text-2 {
    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    @include capitalized-text();
}